*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    font-family: 'Manrope';
}
.wrapper{
    background-color: #EEECEB;
    /* padding: 20px; */
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
.nav-links{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 20px; */
}
#home{
    background-color: #FCFAFF;

}
.nav-links a{
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;

}
.nav-links button{
    padding: 8px;
    background-color: #9A66FF;
    color: #FCFAFF;
    border-radius: 7px;
    border: none;
}
.hero_wrapper{
    width: 100%;
    display: flex;
    text-align: left;
    border-top: 1px solid #d1cfca;
    height: 600px;
    /* width: auto; */
    /* background-color: #9A66FF; */
}
.hero_text{
    /* background-color: aqua; */
    width: 65%;
    /* padding: 40px; */
}
.hero{
    padding: 40px;
}
.hero-btn{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}
.hero-btn p{
    padding: 10px;

}
.hero-btn i{
    font-size: 25px;
}
.hero-btn #call{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9A66FF;

}
#call i{
    color: #FCFAFF;
    margin-top: 4px;
}
.hero_image{
    background-color: black;
    height: 600px;
    width: 600px;
    width: 35%;
    border-radius: 0px 0px 0px 10px;
}
.hero_image img{
    width: 500px;
    height: 600px;
}
.statistics{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    border-radius: 10px 0px 0px 10px;
    background-color: #FCFAFF;


}
.statistic{
    width: 300px;
    height: 100px;
    padding: 10px;

}
.wrapper-box{
    background-color: #EEECEB;
    padding: 40px;
}
.container{

}
.creative-skills{
    /* background-color: #9A66FF; */
    text-align: center;

}
.creative-skills h1{
    text-align: center;
}
.box_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    height: 600px;
    /* background-color: cornflowerblue; */
}
.box{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 250px;
    background-color: #FCFAFF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.box img{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.benefits{
    display: flex;
    flex-direction: column;
    
    /* gap: 20px; */
    /* background-color: darkgoldenrod; */
    height: 800px;
    /* margin-bottom: 50px; */
}
.heading,
.para{
    text-align: center;
}
.para{
    margin-bottom: 30px;
}
.grid-benefits{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}
.first{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.second{
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}
.grid1{
    background-color: #FCFAFF;
    border-radius: 10px;
    height: 270px;
    padding: 20px;
    width: 750px;

    /* width: 450px; */

}
.grid2{
    background-color: #FCFAFF;
    border-radius: 10px;
    height: 270px;
    /* width: 370px; */
    width: 750px;

    padding: 20px;


}
.grid3{
    background-color: #FCFAFF;
    border-radius: 10px;
    height: 270px;
    width: 480px;
    padding: 20px;
}
.grid4{
    background-color: #FCFAFF;
    border-radius: 10px;
    height: 270px;
    width: 480px;
    padding: 20px;

}
.grid5{
    background-color: #FCFAFF;
    border-radius: 10px;
    height: 270px;
    width: 480px;
    padding: 20px;

}
.work-box_container{
    display: flex;
    justify-content: space-between;
    gap: 20px;  
}
.work-box{
    background-color: #FCFAFF;
    border-radius: 10px;
    padding: 10px;
    height: 390px;
    width: 480px;
    padding: 20px;
}
.work-box img{
    width: 400px;
    height: 300px;
}
.work-cta{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.work-cta button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9A66FF;
    color: #FCFAFF;
}
.line-1{
    display: flex;
    justify-content: space-between;
}
.left-right{
    display: flex;
    gap: 15px;
}
.left i,
.right i{
    font-size: 40px;
    padding: 4px;
    border-radius: 5px;
    background-color: #FCFAFF;
}
.clinets-box_container{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.clinets-box{
    background-color: #FCFAFF;
    border-radius: 10px;
    padding: 10px;
    height: 390px;
    width: 480px;
    padding: 20px;
}
.FnQ{
    /* background-color: coral; */
    height: 700px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}
.FnQ-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.FnQ h1{
    padding: 5px;
}
.FnQ p{
    padding: 5px;
    margin-bottom: 40px;

}
.FnQ-left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* background-color: aqua; */
    border: 20px solid #FCFAFF;
    /* background-color: #FCFAFF; */
    /* padding: 10px; */
    width: 65%;
    height: 600px;
}
.FnQ-left-section i{
    border: 1px solid #d1cfca;
    color: aqua;
    color: black;
    padding: 8px;
    font-size: 25px;
}
.FnQ-right-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: crimson; */
    width: 470px;
    height: 400px;
}
.q1{
    display: flex;
    border-bottom: 20px solid #FCFAFF;
    justify-content: space-between;
    padding: 10px;
    height: 130px;

}

.q1 h3{
    text-align: left;
    
}
.q1 > h3 p{
    text-align: left;
}
.q2, .q3, .q4{
    display: flex;
    border-bottom: 20px solid #FCFAFF;
    padding: 15px;
    justify-content: space-between;
}
.q5{
    display: flex;
    padding: 17px;
    justify-content: space-between;
}
.FnQ-grid{
    display: flex;
    flex-direction: column;
    background-color: #FCFAFF;
    padding: 20px;
    text-align: left;
    /* gap: 15px; */

}
.FnQ-grid p{
    margin-top: 20px;
}
.stars-icon{
    display: flex;
    justify-content: center;
    background-color: #9A66FF;
    padding: 10px;
    border-radius: 8px;
    width: 80px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 20px;
}
.stars-icon i{
    color: white;
    font-size: 30px;
}
.grid-btn{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: #9A66FF;
    color: #FCFAFF;
    font-size: 15px;
    border: none;
}
.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 70px;
    border-top: 1px solid #d1cfca;
    padding-top: 40px;
}
.about-me h3{
    margin-top: 30px;
    color: #9A66FF;
}
.about-eugene{
    width: 50rem;
    border: 1px solid #808080;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}
.about-eugene i{
    padding-top: 20px;
    color: #9A66FF;
    font-size: 20px;
}
.social{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.social a{
    color: black;
    text-decoration: none;
    
}
.profiles-icon1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #FCFAFF;
    padding: 20px;
    margin-top: 10px;
    /* width: 230px; */
    /* background-color: #9A66FF; */

    border-radius: 6px;
}
.linkin,
.twitter,
.web{
    background-color: #9A66FF;
    padding: 6px;
    border-radius: 6px;

}
.email1,
.phone1, 
.location1{
    display: flex;
    justify-content: space-between;
    /* background-color: #FCFAFF; */
    padding: 20px;
    height: 60px;
    border-radius: 10px;
    /* gap: 10px; */
}